body {
    background-color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    margin: 0;
}

button {
    width: 200px;
    height: 40px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}
.controlsBanner {
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 10px;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: #111111;
}
.controlsContainer {
    margin: auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.controlsContainer > div {
    display: flex;
    flex-direction: column;
}

.videoContainer {
    width: 20vw;
    position: fixed;
    bottom: 15vw;
    right: 0;
    z-index: 32;
}

.videoContainer>div {
    position: absolute !important;
}

.videoContainer>div>video {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

#pano-container, .gl-canvas {
    width: 100%;
    height: 100%;
}

.gl-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

div[aria-label="Street View"] {
    pointer-events: none;
}

#map {
    height: 100%;
}

.toggleButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cameraToggle-on {
    background-image: url('./img/cam_on.svg');
    background-size: cover;
}

.cameraToggle-off {
    background-image: url('./img/cam_off.svg');
    background-size: cover;
}

.micToggle-on {
    background-image: url('./img/mic_on.svg');
    background-size: cover;
}

.micToggle-off {
    background-image: url('./img/mic_off.svg');
    background-size: cover;
}

.toggle-disabled {
    cursor: unset;
    opacity: 0.3;
}
