$z-index: (
  dialog                : 210,
  aboveModal            : 202,
  modal                 : 201,
  modalBackground       : 200,
  aboveHamburger        : 191,
  hamburger             : 190,
  belowHamburger        : 189,
  ui                    : 180,
  canvas                : 150,
  watchPartyInstructions: 140,
  belowEverything:        -99,
);