body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
  
#container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

#headerText {
    width: 70%;
    text-align: center;
    font-size: 48px;
    width: 80%;
    text-align: center;
    margin: auto;
}

#dotsCanvasContainer {
    width: 80%;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}

h2 {
    margin: 2px 0 4px 0;
    text-align: center;
    margin-top: 60px;
}

.connectDisconnectButton {
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.outputAudioEl {
    width: 300px;
    height: 50px;
    margin: 0;
    display: none;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.buttonContainer>div {
    margin: 8px 8px;
}

.buttonContainer>div>button {
    width: 70px;
    height: 50px;
    margin: 0;
    font-size: 50px;
    line-height: 50px;
}

.userDataTitle {
    width: 100%;
    font-weight: bold;
    margin: 60px auto auto auto;
    text-align: left;
}

.userDataContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 4px;
    font-size: 12px;
    margin-bottom: 30px;
}

.userData {
    margin: 8px;
    text-align: center;
}

.userData>p {
    margin: 0;
}