body {
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden; //vertical
}

.triggerButton {
    cursor: pointer; 
    font-size: 18px; 
    background-color: #000000; 
    color: white; 
    width: 180px; 
    height: 60px;
}

.example-description { 
    text-align: center;
    color: white;
    background-color: 	#69a1b8; 
    
    width: calc(100vw - 414px);
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.verticalContainer {
    display:inline-block;
    height:100%;
    vertical-align:middle;
    width: calc(100vw - 514px);
}

.jwtInput { 
    resize: none;
    background-color: #000000; 
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: calc(60px - 20px);
    display:inline-block;
}
.jwtInput--disabled {
    color: rgb(147, 170, 149);
    opacity: 0.5;
}
.hostInput { 
    resize: none;
    background-color: #000000; 
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display:inline-block;
}
.hostInput--disabled {
    color: rgb(147, 170, 149);
    opacity: 0.5;
}

.controlContainer {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
}

.controlBar {
    background-color: black;
    width: 100vw;
}

.controlBar > * {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 10px;
    height: 60px;
}

.thecanvas {
    position:fixed; 
    right: 0; 
    top: 80px;
}


.statusContainer {
    display: none;
    position: absolute;
    top:calc(100vh - 30px);
    left: 0;
    height: 30px;
}

.statusBar {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
}

.statusBar > * {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin: 0px;
    height: 30px;
    color: white;
}

.statusField {
    width: fit-content;
    vertical-align: middle;
    display: inline-block;
}

.statusLabel { 
    display: inline-block;
    text-align: right;
    width: 50px;
    font-size: 12px;
}

.statusValue {
    display: inline-block;
    text-align: left;
    width: 50px;
    font-size: 12px;
}


.muteButton {
    float: right;
    width: 40px;
    height: 40px;
    margin: 20px;
    background-size: contain;
    cursor: pointer;
}

.muteButton--disabled {
    opacity: 0.5;
    cursor: default;
}

.mic-on {
    background-image: url("../images/mic_on.svg");
}

.mic-off {
    background-image: url("../images/mic_off.svg");
}

.muteSpeakerButton {
    float: right;
    width: 40px;
    height: 40px;
    margin: 20px;
    background-size: contain;
    cursor: pointer;
}

.muteSpeakerButton--disabled {
    opacity: 0.5;
    cursor: default;
}

.speaker-on {
    background-image: url("../images/white-headphones.svg");
}

.speaker-off {
    background-image: url("../images/red-headphones-with-x.svg");
}

.frameButton {
    float: right;
    width: 40px;
    height: 40px;
    margin: 20px;
    background-size: contain;
    cursor: pointer;
}

.frameButton--disabled {
    opacity: 1.0;
    cursor: default;
}

.frame-on {
    background-image: url("../images/axes-off.png");
}

.frame-off {
    background-image: url("../images/axes-on.png");
}


.inspectorFrame {
    position: fixed;
    border-bottom: 1px black solid;
    background-color: rgb(26, 29, 34);
    color: white;
    box-shadow: 3px 3px 10px #88888844;
    padding: 10px;
    top: 88px;
    left: 8px;
    width: fit-content;
    text-align: center;
    height: fit-content;
    display: none;
}
.inspectorField {
    width: fit-content;
    height: 16px;
    display: block;
}

.inspectorLabel { 
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 50px;
}

.inspectorValue {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 100px;
}

.inspectorPlayerID {
    text-align: left;
    word-wrap: break-word;
    font-size: 11px;
    width: 155px;
    height: 32px;
}

.inspectorPlayerColor {
    display: inline-block; 
    height: 20px;
}

.inspectorPlayerName { 
    display: inline-block;
    text-align: left;
    width: fit-content;
}



.helpButton {
    background-color: #FF000000; 
    background-image: url("../images/help-idle.png");
    background-size: contain;
    position: fixed;
    top: 100px;
    left: calc(100vw - 60px);
    width: 40px;
    height: 40px;
    border: 0px;
    outline:0px;
    cursor: pointer;
}

.helpButton:hover {
    background-image: url("../images/help-hover.png");
}

.helpFrame {
    position: fixed;
    background-color: rgba(26, 29, 34, 0.5);
    color: white;
    padding: 10px;
    top: 90px;
    left: calc(100vw - 530px);
    width: 500px;
    text-align: left;
    height: fit-content;
    display: none;
}
