body {
  height: 95vh;
  width: 100vw; /* Don't wiggle on mobile when moving around */
}
map {
    height: 100%;
    width: 100%;
    display: block;
}
map, picture {
    background-size: cover;
    background-position: center;
}
avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
}
arms, volume, picture {
    height: 100%;
    width: 100%;
}
arms, reach {
    position: relative;
    display: block;
}
reach {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    transform: translate(-50px, 0);
}
volume, picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
volume {
    box-shadow:  0 0 10px black, 0 0 5px black;
    transition: height 100ms, width 100ms;
}
nameDisplay, avatar button, self, countdown {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black, 0 0 5px black;
    position: absolute;
    background-color: transparent;
}
nameDisplay {
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
    min-width: 80%;
}
self {
    top: 30%;
    width: 100%;
}
self i {
    position: relative;
    top: 4px;
}
avatar button {
    border: none;
    bottom: 10px;
    left: 5px;
}
avatar button.disabled {
    color: grey;
    text-shadow: none;
}
countdown {
    display: none;
    bottom: 4px;
    left: 22px;
}
countdown.counting {
    display: inline-block;
}
micControls {
    width: 45px;
    height: 130px;
    display: block;
    position: fixed;
    right: 10px;
    top: 15px;
}
micControls button {
    display: block;
    margin: 0;
}
volumeMeter {
    width: 25px;
    height: 100px;
    display: block;
}
segment {
    width: 100%;
    height: 8px;
    display: block;
    border: 2px solid black;
    border-bottom: 0;
    opacity: 50%;
}
segment.v1 { border-bottom: 2px solid black; }
.v10, .v9 { background-color: red; }
.v8, .v7 { background-color: orange; }
.v6, .v5, .v4 { background-color: green; }
.v3, .v2, .v1 { background-color: grey; }
micControls input {
    position: relative;
    transform: rotate(-90deg);
    width: 100px;
    right: 16px;
    bottom: 55px;
}
micControls.muted button.mute,
micControls:not(.muted) button.unmute,
.hidden {
    display: none;
}

lobby, room {
    display: block;
}
total, concurrency {
    display: inline;
}
