@use "./z-indices";
@use "./themes";

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf')
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    &--light-theme {
        background-color: map-get(themes.$light-theme, body-background);
    }

    &--dark-theme {
        background-color: map-get(themes.$dark-theme, body-background);
    }
}

.loadingScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: map-get(themes.$light-theme, loading-background);
    z-index: map-get(z-indices.$z-index, aboveModal);

    &--icon {
        background-size: 200px;
        width: 250px;
        height: 250px;
        position: fixed;
        z-index: 1;

        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &--light-theme {
            background: url('../images/icons/light-theme/hifi.svg') no-repeat center center;
        }
    
        &--dark-theme {
            background: url('../images/icons/dark-theme/hifi-dark.svg') no-repeat center center;
        }
    }

    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }

    &--text {
        z-index: 2;

        &--light-theme {
            color: map-get(themes.$light-theme, on-body-background);
        }
    
        &--dark-theme {
            color: map-get(themes.$dark-theme, on-body-background);
        }
    }
}

.displayNone {
    display: none !important;
}

.cursorPointer {
    cursor: pointer;
}