@use "./z-indices";
@use "./themes";

@font-face {
    font-family: Graphik;
    src: url('../fonts/Graphik-Regular.ttf')
}

@font-face {
    font-family: Graphik-Medium;
    src: url('../fonts/Graphik-Medium.ttf')
}

@font-face {
    font-family: Graphik-Semibold;
    src: url('../fonts/Graphik-Semibold.ttf')
}

@font-face {
    font-family: Graphik-Bold;
    src: url('../fonts/Graphik-Bold.ttf')
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: map-get(themes.$theme, body-background);
    font-family: 'Graphik', Tahoma, Geneva, Verdana, sans-serif;
}

.loadingScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: map-get(themes.$theme, loading-background);
    z-index: map-get(z-indices.$z-index, aboveModal);

    &--icon {
        background: url('../images/hifi_black.svg') no-repeat center center;
        background-size: 200px;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;

        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }

    &--text {
        color: map-get(themes.$theme, on-body-background);
        z-index: 2;
    }
}

.displayNone {
    display: none !important;
}

.cursorPointer {
    cursor: pointer;
}