$theme: (
    loading-background: #000000,
    body-background: #222222,
    on-body-background: #FFFFFF,
    primary: #222222,
    text-primary: #FFFFFF,
    text-secondary: #007AFF,
    text-faint: #FFFFFFAA,
    room-list-container-background: #454545,
    room-list-container-mine-background: #656565,
    room-list-container: #FFFFFF,
    avatar-context-menu-background: #656565,
    avatar-context-menu: #FFFFFF,

    scrollbar-thumb: #333333AA,
    scrollbar-track: #AAAAAA,
)