$z-index: (
  dialog                : 210,
  aboveModal            : 202,
  modal                 : 201,
  modalBackground       : 200,
  aboveHamburger        : 191,
  hamburger             : 190,
  ui                    : 180,
  mainCanvas            : 150,
);