<!DOCTYPE html>
<html>
  <head>
    <title>Street Meetings</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="other.css" />
  </head>
  <body>
    <div id="twilioJWT" data-jwt='<%- twilioJWT %>'></div>
    <div id="hifiJWT" data-jwt='<%- hiFiJWT %>'></div>
    <div id="pano-container"></div>
    <div class="controlsContainer">
        <div>
            <p>HiFi Spatial Audio with Twilio and StreetView</p>
            <p>(ID: <%- providedUserID %>) (Space: <%- spaceName %>)</p>
        </div>
        <button class="connectDisconnectButton" disabled="true">Click to Connect</button>
        <button class="toggleInputMuteButton" disabled="true">Toggle Mic Mute (currently unmuted)</button>
        <button class="toggleWebCam" disabled="true">Connect Camera</button>
        <audio autoplay class="outputAudioEl"></audio>
    </div>
    <div class="videoContainer"></div>

    <script src="https://hifi-spatial-audio-api.s3-us-west-2.amazonaws.com/releases/latest/HighFidelityAudio-latest.js"></script>
    <script src="https://hifi-spatial-audio-api.s3-us-west-2.amazonaws.com/releases/latest/HighFidelityControls-latest.js"></script>
    <!--script src="./script.js" type="module"></script-->
    <script src="https://media.twiliocdn.com/sdk/js/video/releases/2.8.0/twilio-video.min.js"></script>
    <script type="module" src="main.js"></script>
    
  </body>
</html>
